<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"/>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
    <title>Title</title>
</head>
<body id="error">
<div class="shade" style="opacity: 0.3;background-color: #696969"></div>
<div id="nothing">
    <h1>未查询到相关信息</h1>
</div>
<div  id="find">
    <h2>请检查输入是否有误</h2>
</div>

</body>
</html>
<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/action.js"></script>
