<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"/>
	<title>首页</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css"/>
</head>
<body id="bod">
<div class="welcom" id="welcom"><h1 id="h">杭州电子科技大学信息工程学院</h1>
	<h2 id="hh">Hangzhou Dianzi University Information Engineering School</h2></div>
<div class="shade" id="shade"></div>
<div class="login-region" id="region">
	<h1>新生信息查询系统</h1>
	<div class="login">
		<form>
			<div class="login-user">
				<i></i><input type="text" name="" placeholder="姓名"/>
				<div class="clear"></div>
			</div>
			<div class="login-user">
				<i></i><input type="text" name="" placeholder="准考证号或身份证号"/>
				<div class="clear"></div>
			</div>
			<div class="login-click"><input type="submit" name=""/>
			</div>
		</form>
	</div>
</div>
</body>
</html>

<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/action.js"></script>