<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"/>
	<title>首页</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css"/>
</head>
<body id="bod">
<div class="welcom" id="welcom"><img src="/img/logo2.png"/></div>
<div class="shade" id="shade"></div>
<div class="login-region" id="region">
	<h1>新生信息查询系统</h1>
	<div class="login">
		<form action="/query" method="post">
			<div class="login-user">
				<i></i><input type="text" name="ExamNum" placeholder="准考证号"/>
				<div class="clear"></div>
			</div>
			<div class="login-user">
				<i class="pass"></i><input type="text" name="IdNum" placeholder="身份证号"/>
				<div class="clear"></div>
			</div>
			<div class="login-click"><input type="submit" name=""/>
			</div>
		</form>
	</div>
</div>
</body>
</html>

<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/action.js"></script>